$apecWhite_1: #ffffff;
$apecGreen_1: #00B430;
$apecGreen_2: #4BCC40;
$apecGreen_3: #81DB79;
$apecGreenTeal_1: #01FF80;
$apecGreenTeal_2: #01FF80;
$apecBlack_1: #000000;
$apecGrey: #131313;
$apecGrey_1: #121212;
$apecGrey_2: #808080;
$apecGrey_3: #A9A9A9;
$apecGrey_back: #525252;
$apecSilver_1: #C0C0C0;
$apecBlueGrey_2: #151a1e;
$apecBlueGrey_3: #1f262d;
$apecBlueGrey_4: #2a343c;
$apecRed_1: #CB0000;
$apecRed_2: #ff3333;
$apecRed_3: #ffcccc;
$apecRed_4: #be0404ce;
$apecBlue: #1915de;
$apecLightBlue: #3556ff;
$apecLightBlue_2: #4967ff;
$apecTeal: #17F7FF;
$apecTeal_1: #00adb5;
$apecTeal_2: #00cdd6;
$apecTeal_3: #00fff5;
$apecYellow_1: #ffff00;